.form-wrapper {
  padding: 20px;
}

.field-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field {
  /* padding: 10px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.field-label {
  padding-right: 10px;
}

.hide {
  display: none;
}

.status {
  position: absolute;
  left: 50%;
}

fieldset {
  width: 100%;
}

.hide {
  display: none;
}
