.map-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapDiv {
  height: 400px;
  width: 100%;
}

.marker {
  background-image: url("../../icons/marker-30.png");
  background-size: cover;
  width: 16px;
  height: 16px;
}

.hide {
  display: none;
}